<!-- Pages 404 start -->
<div class="pages-404 overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error404-content">
                    <div class="error404">404</div>
                    <div class="nobottomborder">
                        <h4>Ooopps.! La página que estás buscando no existe.</h4>

                    </div>
                    <div>
                        <button class="btn btn-theme" routerLink="/home">
                            Volver al Inicio
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pages 404 end -->