<!-- Properties section body start -->
<div class="properties-section content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-left">
                    <!-- Advanced search start -->
                    <div class="sidebar widget advanced-search">
                        <h3 class="sidebar-title">Advanced Search</h3>
                        <form method="GET">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="all-status">
                                    <option>All Status</option>
                                    <option>For Sale</option>
                                    <option>For Rent</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="all-type">
                                    <option>All Type</option>
                                    <option>Apartments</option>
                                    <option>Houses</option>
                                    <option>Commercial</option>
                                    <option>Garages</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="commercial">
                                    <option>Commercial</option>
                                    <option>Residential</option>
                                    <option>Land</option>
                                    <option>Hotels</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="location">
                                    <option>location</option>
                                    <option>New York</option>
                                    <option>Bangladesh</option>
                                    <option>India</option>
                                    <option>Canada</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="bedrooms">
                                            <option>Bedrooms</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="bathroom">
                                            <option>Bathroom</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="balcony">
                                            <option>Balcony</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="garage">
                                            <option>Garage</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="range-slider">
                                <label>Area</label>
                                <div data-min="0" data-max="10000" data-min-name="min_area" data-max-name="max_area" data-unit="Sq ft" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="range-slider">
                                <label>Price</label>
                                <div data-min="0" data-max="150000" data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>

                            <a class="show-more-options" data-toggle="collapse" data-target="#options-content">
                                <i class="fa fa-plus-circle"></i> Show More Options
                            </a>
                            <div id="options-content" class="collapse">
                                <label class="margin-t-10">Features</label>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">
                                        Free Parking
                                    </label>
                                </div>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox2" type="checkbox">
                                    <label for="checkbox2">
                                        Air Condition
                                    </label>
                                </div>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox3" type="checkbox">
                                    <label for="checkbox3">
                                        Places to seat
                                    </label>
                                </div>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox4" type="checkbox">
                                    <label for="checkbox4">
                                        Swimming Pool
                                    </label>
                                </div>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox5" type="checkbox">
                                    <label for="checkbox5">
                                        Laundry Room
                                    </label>
                                </div>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox6" type="checkbox">
                                    <label for="checkbox6">
                                        Window Covering
                                    </label>
                                </div>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                        Central Heating
                                    </label>
                                </div>
                                <div class="checkbox checkbox-theme checkbox-circle">
                                    <input id="checkbox8" type="checkbox">
                                    <label for="checkbox8">
                                        Alarm
                                    </label>
                                </div>
                            </div>

                            <div class="form-group mb-0">
                                <button class="search-button">Search</button>
                            </div>
                        </form>
                    </div>
                    <!-- Popular posts start -->
                    <div class="widget popular-posts">
                        <h3 class="sidebar-title">Popular Posts</h3>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://placehold.it/70x70" alt="sub-properties">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="#">Modern Design Building</a>
                                </h3>
                                <p>22 April, 2018</p>
                                <strong>$345,000</strong>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://placehold.it/70x70" alt="sub-properties">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="#">Real Eatate Expo 2018</a>
                                </h3>
                                <p>22 April, 2018</p>
                                <strong>$345,000</strong>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="http://placehold.it/70x70" alt="sub-properties">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    <a href="#">Villa in Coral Gables</a>
                                </h3>
                                <p>22 April, 2018</p>
                                <strong>$345,000</strong>
                            </div>
                        </div>
                    </div>
                    <!-- Posts by category start -->
                    <div class="posts-by-category widget">
                        <h3 class="sidebar-title">Category</h3>
                        <ul class="list-unstyled list-cat">
                            <li><a href="#">Single Family <span>(45)</span></a></li>
                            <li><a href="#">Apartment <span>(21)</span> </a></li>
                            <li><a href="#">Condo <span>(23)</span></a></li>
                            <li><a href="#">Multi Family <span>(19)</span></a></li>
                            <li><a href="#">Villa <span>(19)</span></a> </li>
                            <li><a href="#">Other <span>(22) </span></a></li>
                        </ul>
                    </div>
                    <!-- Helping Center start -->
                    <div class="widget helping-center">
                        <h3 class="sidebar-title">Helping Center</h3>
                        <ul class="contact-link">
                            <li>
                                <i class="flaticon-location"></i> 20-21 Kathal St. Tampa City, FL
                            </li>
                            <li>
                                <i class="flaticon-technology-1"></i>
                                <a href="tel:+55-417-634-7071">
                                    +55 417 634 7071
                                </a>
                            </li>
                            <li>
                                <i class="flaticon-envelope"></i>
                                <a href="mailto:info@themevessel.com">
                                    info@themevessel.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Latest reviews start -->
                    <div class="widget latest-reviews">
                        <h3 class="sidebar-title">Reviews</h3>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="avatar-1">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#">Emma Connor</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiamrisus tortor, accumsan at nisi,</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="http://placehold.it/50x50" alt="avatar-2">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#">Martin Smith</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiamrisus tortor, accumsan at nisi,</p>
                            </div>
                        </div>
                    </div>
                    <!-- Latest tweet start -->
                    <div class="widget latest-tweet">
                        <h3 class="sidebar-title">Tweet</h3>
                        <p><a href="#">@Lorem ipsum dolor</a> sit amet, consectetur adipiscing elit. Aenean id dignissim justo. Maecenas urna lacus, bibendum </p>
                        <p>@Lorem ipsum dolor<a href="#">sit amet, consectetur</a> adipiscing elit. Aenean id dignissim justo. Maecenas urna lacus, bibendum quis orci </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <!-- Option bar start -->
                <div class="option-bar d-none d-xl-block d-lg-block d-md-block d-sm-block">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                            <div class="sorting-options">
                                <span>View as:</span>
                                <a href="properties-list-leftsidebar.html" class="change-view-btn active-view-btn"><i class="fa fa-th-list"></i></a>
                                <a href="properties-grid-leftside.html" class="change-view-btn"><i class="fa fa-th-large"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                            <div class="sorting-options2">
                                <span>Order by:</span>
                                <select class="sorting">
                                    <option>Price High to Low</option>
                                    <option>Price: Low to High</option>
                                    <option>Newest Properties</option>
                                    <option>Oldest Properties</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Option bar end -->

                <!-- Property box 2 start -->
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                </div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Relaxing Apartment</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-time opening">For Sale</div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Park avenue</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-time opening">For Sale</div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Modern Family Home</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                </div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Relaxing Apartment</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-time opening">For Sale</div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Park avenue</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-time opening">For Sale</div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Modern Family Home</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-time opening">For Sale</div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Park avenue</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-time opening">For Sale</div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Modern Family Home</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                </div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Relaxing Apartment</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-box-2 wow fadeInUp delay-03s">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-pad">
                            <a href="properties-details.html" class="property-img">
                                <img src="http://placehold.it/316x253" alt="properties" class="img-fluid">
                                <div class="listing-time opening">For Sale</div>
                                <div class="price-ratings-box">
                                    <p class="price">
                                        $178,000
                                    </p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="detail ">
                                <h3 class="title">
                                    <a href="properties-details.html">Park avenue</a>
                                </h3>
                                <h5 class="location">
                                    <a href="properties-details.html">
                                        <i class="flaticon-location"></i>20-21 Kathal St. Tampa City, FL
                                    </a>
                                </h5>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="flaticon-furniture"></i>
                                        <span>3 Beds</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-holidays"></i>
                                        <span>1 Baths</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-square"></i>
                                        <span>4800 sq ft</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-vehicle"></i>
                                        <span>1 Garage</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-monitor"></i>
                                        <span>1 TV</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-window"></i>
                                        <span>3 Balcony</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="properties-details.html" class="btn button-theme">Details</a>
                            <div class="footer">
                                <div class="pull-left days">
                                    <p><i class="flaticon-time"></i> 5 Days ago</p>
                                </div>
                                <ul class="pull-right">
                                    <li><a href="#"><i class="flaticon-favorite"></i></a></li>
                                    <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- properties 2 end -->

                <!-- Page navigation start -->
                <div class="pagination-box hidden-mb-45 text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Page navigation end-->
            </div>
        </div>
    </div>
</div>
<!-- Properties section body end -->