<!-- My profile start -->
<div class="my-profile content-area animated fadeInUp delay-03s">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- Avatar start -->

                <div class="edit-profile-photo">
                    <img [src]="usuario.img | imagen" alt="profile-photo" class="img-fluid">
                    <div class="change-photo-btn" (click)="fotoPerfil()">
                        <div class="photoUpload">
                            <span><i class="fa fa-upload"></i> Modificar Imagen</span>
                            <!-- <input (change)="seleccionImagen($event.target.files[0])" type="file" class="upload"> -->
                        </div>
                    </div>
                </div>




                <!-- Avatar end -->
                <!-- My account box start -->
                <div class="my-account-box">
                    <ul>
                        <li *ngFor="let submenu of menuPerfil.submenu">
                            <a [routerLink]="[submenu.url]" routerLinkActive="active">
                                <i [class]="submenu.icono"></i>{{submenu.titulo}}
                            </a>
                        </li>
                        <li>
                            <a (click)="_loginService.logout()">
                                <i class="flaticon-exit"></i>Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- My account box end -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- My address start-->
                <div class="my-address">
                    <h3 class="heading-2">Perfil de Usuario</h3>

                    <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)">

                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label>Email</label>
                                <input [ngModel]="usuario.email" [disabled]="usuario.google" type="email" class="input-text" name="email" placeholder="Introduzca su email (iniciar sesión) " required>
                            </div>

                            <div class="form-group verificar col-md-3">
                                <label></label><br>

                                <span class="container20">
                                    <span *ngIf="usuario.verificado" class="mr-4 "><i *ngIf="usuario.verificado" class="fa fa-check  mr-1 text-success"></i>Email verificado</span>

                                <button type='button' (click)="verificarUsuario()" *ngIf="!usuario.verificado" class="btn btn-outline-danger bomd">Verificar email</button>

                                </span>

                            </div>
                        </div>


                        <div class="form-group">
                            <label>Nombre</label>
                            <input [ngModel]="usuario.nombre" type="text" class="input-text" name="nombre" placeholder="Introduzca su nombre" required>
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input [ngModel]="usuario.apellidos" type="text" class="input-text" name="apellidos" placeholder="Introduzca sus apellidos" required>
                        </div>

                        <div class="form-group">
                            <label>Teléfono (opcional)</label>
                            <input [ngModel]="usuario.telefono" type="text" class="input-text" name="telefono" placeholder="Introduzca un teléfono de contacto">
                        </div>


                        <!-- <div class="form-group">
                            <label>Personal Info</label>
                            <textarea class="input-text" name="message" placeholder="Personal info"></textarea>
                        </div> -->

                        <ngb-timepicker [(ngModel)]="time" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                        <hr>
                        <pre>Selected time: {{time | json}}</pre>
                        <button type="submit" class="btn btn-md button-theme">Guardar Cambios</button>
                    </form>
                </div>
                <!-- My address end -->
            </div>
        </div>
    </div>
</div>
<!-- My profile end -->