<div class="property-box">
    <div class="property-thumbnail">
        <a [routerLink]="['/centro', centro._id]" class="property-img">
            <div class="listing-badges">
                <span class="featured">Novedad</span>
            </div>
            <div class="price-ratings-box">
                <!-- <p class="price">
                    {{centro.totalAdoptables}} mascotas en adopción
                </p> -->
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <img class="foto-grid d-block w-100" [src]="centro.galeria[0] | imagen: 'centro' " alt="properties">
        </a>
    </div>
    <div class="detail">
        <h1 class="title">
            <a [routerLink]="['/centro', centro._id]">{{centro.nombre_centro}}</a>
        </h1>
        <div class="location" style="font-size: 16px;">
            <i class="lnr lnr-map-marker"></i>{{centro.direccion_provincia}}

        </div>
        <ul class="facilities-list clearfix">
            <li>
                <i class="lnr lnr-phone"></i> {{centro.telefono}}
            </li>
            <li>
                <i class="fa fa-paw" aria-hidden="true"></i> {{centro.totalAdoptables}} mascotas
            </li>
        </ul>
    </div>
    <div class="footer clearfix">
        <div class="pull-left days">
            <ul class="social-list clearfix ml-2">
                <li><a style="border:none" href="#"><i class="fa fa-thumbs-up"></i><span style="font-size: 13px;"> 12</span></a></li>
            </ul>
        </div>
        <ul class="pull-right">
            <li><a href="#"><i class="lnr lnr-thumbs-up"></i></a></li>
            <li><a href="#"><i class="fa fa-plus-square-o"></i></a></li>
            <li><a href="#"><i class="flaticon-multimedia"></i></a></li>
        </ul>
    </div>
</div>