.modal-footer {
    border-top: 0 none;
}

.modal-title {
    font-weight: 600;
    font-size: 24px;
}

.modal-body {
    padding-top: 10px;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
}

.oculto {
    display: none
}

.my-address form label {
    font-weight: bold;
}

.form-group label,
.checkbox label {
    font-weight: 600 !important;
    color: #575656;
}

.submit-address .search-fields {
    color: #7b7b7b;
}

agm-map {
    height: 500px;
}

.custom-dropzone {
    border: 2px dashed #d0d0d0;
    border-radius: 3px;
    background: #fcfcfc;
}

.custom-dropzone:hover {
    border: 2px dashed #1abc9c;
}

.opening-hours {
    padding: 30px;
}

.opening-hours .list-style-none li {
    list-style: none;
    line-height: 35px;
    font-size: 13px;
}

.opening-hours strong {
    width: 85px;
    display: inline-block;
    font-weight: 600;
}

.opening-hours h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px;
}